* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Zilla Slab', serif;
}

.icon {
	margin-right: 10px;
}

.icon img {
	width: 18px;
}

.nav a {
	color: #000;
}

.nav-link {
	padding: 15px 35px;
}

.nav .nav-link:hover {
	background-color: #f6f6f6;
}

.nav-link.active {
	background-color: #f6f6f6;
}